nav {
    gap: 50px;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 570px;
    padding-bottom: 20px;
    font-size: 18px;
}

nav ul li {

    display: inline-block;
    padding: 0 20px;

}

body {
    background-image: url("../images/OIP.nhK_qH5DB44wL2o38Cw5MQHaE7.jpeg");
    background-size: 100%;
    font-size: large;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    
}
section {
    color: beige;
    text-align: center;
    
}
section ol > .what {
    background-color: rgb(19, 19, 17);
    border-radius: 50%;
}
section ol > .Email {
    background-color: rgb(19, 19, 17);
    border-radius: 50%;
    
}

